In [1]:
import numpy as np

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\kumar\anaconda3\lib\site-packages (1.21.5)

In [3]:
arr=np.array([4,5,6])

In [4]:
print(arr)

[4 5 6]

In [5]:
arr2=np.array([[5,6,7],[8,9,4],[2,7,8]])

In [6]:
arr2

array([[5, 6, 7],
       [8, 9, 4],
       [2, 7, 8]])

In [7]:
np.zeros((4,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [9]:
np.arange(10,20,2)

array([10, 12, 14, 16, 18])

In [10]:
np.arange(10,100,5)

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90,
       95])

In [11]:
arr3=np.arange(1,10,2)

In [12]:
arr3

array([1, 3, 5, 7, 9])

In [18]:
# yadi hame 100 to 300 ko 9 part me devide karna hai to linspace ka use karenge and 300 hundred ko bhi print kar dega

In [19]:
arr4=np.linspace(100,300,9)

In [20]:
arr4

array([100., 125., 150., 175., 200., 225., 250., 275., 300.])

In [21]:
arr5=np.linspace(1,2,6)

In [22]:
arr5

array([1. , 1.2, 1.4, 1.6, 1.8, 2. ])

In [23]:
arr6=np.full((5,5),10)

In [24]:
arr6

array([[10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10]])

In [25]:
arr7=np.full((6,7),9)

In [26]:
arr7

array([[9, 9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9, 9]])

In [28]:
# EXPLORING NUMPY ARRAY (SHAPE,RESHAPE,NDIM,SIZE ETC)

In [29]:
arr8=np.array([[7,8,9],[10,56,78]])

In [30]:
arr8

array([[ 7,  8,  9],
       [10, 56, 78]])

In [32]:
arr8.shape

(2, 3)

In [35]:
arr9=np.array([[7,8,9],[10,56,78],[8,5,3]])

In [36]:
arr9.shape

(3, 3)

In [37]:
arr10=np.array([[7,8,9],[10,56,78]])

In [38]:
arr10.shape=(3,2)

In [39]:
arr10

array([[ 7,  8],
       [ 9, 10],
       [56, 78]])

In [40]:
arr10.shape

(3, 2)

In [42]:
arr11=arr10.reshape(2,1,3)

In [43]:
arr11

array([[[ 7,  8,  9]],

       [[10, 56, 78]]])

In [44]:
arr11.shape

(2, 1, 3)

In [48]:
arr11.ndim

3

In [47]:
# number of elements in array
arr11.size

6

In [1]:
import numpy as np

In [4]:
# 1 TO 100 TAK KE NUMBER KO RANDOMLY 12 PART ME DEVIDE KARKE PRINT KARA SAKTE HAI

In [5]:
arr=np.random.randint(1,100,12)

In [6]:
arr

array([68, 93, 13,  9, 84, 34, 86,  3, 89, 65, 73, 79])

In [7]:
arr.shape

(12,)

In [8]:
arr=arr.reshape(6,2)

In [9]:
arr

array([[68, 93],
       [13,  9],
       [84, 34],
       [86,  3],
       [89, 65],
       [73, 79]])

In [10]:
arr=arr.reshape(12)

In [11]:
arr

array([68, 93, 13,  9, 84, 34, 86,  3, 89, 65, 73, 79])

In [12]:
# MATHEMATICAL OPERATIONS USING NUMPY

In [18]:
# array comprision true and false

In [14]:
import numpy as np

In [28]:
arr1=np.array([1,2,3])
arr2=np.array([5,6,3])
arr3=np.array([1,2,3])

In [29]:
np.equal(arr1,arr2,arr3)

array([0, 0, 1])

In [30]:
arr1=np.array([1,2,3])
arr2=np.array([5,6,3])
arr3=np.array([1,2,3])

In [31]:
np.equal(arr1,arr3)

array([ True,  True,  True])

In [34]:
arr1=np.array([1,2,3])
arr2=np.array([5,6,3])
arr3=np.array([1,2,3])

In [36]:
np.array_equal(arr1,arr2)

False

In [37]:
np.array_equal(arr1,arr3)

True

In [38]:
arr1

array([1, 2, 3])

In [39]:
arr2

array([5, 6, 3])

In [40]:
arr3

array([1, 2, 3])

In [41]:
np.sum(arr1)

6

In [42]:
np.sum(arr2)

14

In [43]:
np.sum(arr3)

6

In [44]:
np.sum([[1,2],[8,9]])

20

In [47]:
np.sum([[1,2],[8,9]],axis=0) # column wise sum

array([ 9, 11])

In [48]:
np.sum([[1,2],[8,9]],axis=1) # row wise sum

array([ 3, 17])

In [49]:
# np.sum(),np.subtract(),np.multiply(),np.divide()

In [51]:
arr1

array([1, 2, 3])

In [52]:
arr2

array([5, 6, 3])

In [53]:
np.subtract(arr1,arr2)

array([-4, -4,  0])

In [54]:
np.multiply(arr1,arr2)

array([ 5, 12,  9])

In [55]:
np.divide(arr1,arr2)

array([0.2       , 0.33333333, 1.        ])

In [56]:
np.sin(arr1)

array([0.84147098, 0.90929743, 0.14112001])

In [57]:
# sin(),cos(),exp(),log(),sqrt()

In [58]:
np.sqrt(arr1)

array([1.        , 1.41421356, 1.73205081])

In [59]:
np.log(arr1)

array([0.        , 0.69314718, 1.09861229])

In [60]:
arr2

array([5, 6, 3])

In [61]:
np.mean(arr2)

4.666666666666667

In [62]:
np.std(arr2)

1.247219128924647

In [64]:
np.var(arr2)

1.5555555555555554

In [65]:
np.median(arr2)

5.0

In [66]:
np.max(arr2)

6

In [67]:
np.min(arr2)

3

In [68]:
arr1

array([1, 2, 3])

In [69]:
arr2

array([5, 6, 3])

In [70]:
arr1+arr2

array([6, 8, 6])

In [71]:
a=np.array([[3,4,5],[6,7,8],[1,2,3]])
b=np.array([1,2,3])

In [72]:
a+b

array([[ 4,  6,  8],
       [ 7,  9, 11],
       [ 2,  4,  6]])

In [1]:
# indexing and slicing

In [2]:
import numpy as np

In [3]:
arr1=np.array([10,20,30,40,50])
arr2=np.array([[10,20,30],[40,50,60]])

In [4]:
arr1

array([10, 20, 30, 40, 50])

In [5]:
arr2

array([[10, 20, 30],
       [40, 50, 60]])

In [6]:
arr1[2]

30

In [7]:
arr1[-3]

30

In [8]:
arr1[-1]

50

In [9]:
arr1[1:4]

array([20, 30, 40])

In [10]:
arr1[:]

array([10, 20, 30, 40, 50])

In [11]:
arr1[1:]

array([20, 30, 40, 50])

In [14]:
arr1[-2:]

array([40, 50])

In [16]:
arr1[-1:]

array([50])

In [18]:
arr1[-5:]

array([10, 20, 30, 40, 50])

In [19]:
arr2

array([[10, 20, 30],
       [40, 50, 60]])

In [20]:
arr2[1][2]

60

In [21]:
arr2[1][1]

50

In [22]:
arr2[0][1]

20

In [23]:
arr2[0][1:]

array([20, 30])

In [25]:
arr3=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [26]:
arr3

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [27]:
arr3.shape

(3, 3)

In [28]:
arr3[1:]

array([[4, 5, 6],
       [7, 8, 9]])

In [31]:
arr3[1:,1:]   # esme 1st row and 1st column ko read karega

array([[5, 6],
       [8, 9]])

In [32]:
arr3[0:,2:]

array([[3],
       [6],
       [9]])

In [33]:
arr3[0:,1:]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [34]:
arr3[0:,:2]

array([[1, 2],
       [4, 5],
       [7, 8]])

In [35]:
arr3[:,:2]

array([[1, 2],
       [4, 5],
       [7, 8]])

In [37]:
    import numpy as np

In [38]:
a1=np.array([[2,3],[8,9]])
a2=np.array([[5,6]])

In [39]:
a1

array([[2, 3],
       [8, 9]])

In [40]:
a2

array([[5, 6]])

In [47]:
np.concatenate((a1,a2),axis=0)  # row wise concatenate

array([[2, 3],
       [8, 9],
       [5, 6]])

In [48]:
np.concatenate((a1,a2))

array([[2, 3],
       [8, 9],
       [5, 6]])

In [49]:
np.concatenate((a1,a2.T),axis=1)   # column wise concatenate

array([[2, 3, 5],
       [8, 9, 6]])

In [51]:
b1=np.array([5,6,7])
b2=np.array([8,4,2])      # one diamension array hai to dono (stack)join hokar two diamension ban jayega
np.stack((b1,b2))

array([[5, 6, 7],
       [8, 4, 2]])

In [54]:
np.stack((b1,b2),axis=0)    # axis=0,row wise join

array([[5, 6, 7],
       [8, 4, 2]])

In [55]:
np.stack((b1,b2),axis=1)    # axis=1,column wise join

array([[5, 8],
       [6, 4],
       [7, 2]])

In [56]:
np.vstack((b1,b2))

array([[5, 6, 7],
       [8, 4, 2]])

In [57]:
np.hstack((b1,b2))

array([5, 6, 7, 8, 4, 2])

In [58]:
c1=np.array([[6],[8],[9]])
c2=np.array([[4],[2],[3]])
np.vstack((c1,c2))

array([[6],
       [8],
       [9],
       [4],
       [2],
       [3]])

In [59]:
c1=np.array([[6],[8],[9]])
c2=np.array([[4],[2],[3]])
np.hstack((c1,c2))

array([[6, 4],
       [8, 2],
       [9, 3]])

In [60]:
c1

array([[6],
       [8],
       [9]])

In [61]:
c2

array([[4],
       [2],
       [3]])

In [62]:
np.column_stack((c1,c2))

array([[6, 4],
       [8, 2],
       [9, 3]])

In [63]:
np.row_stack((c1,c2))

array([[6],
       [8],
       [9],
       [4],
       [2],
       [3]])

In [1]:
import numpy as np

In [3]:
a1=np.arange(20)

In [4]:
a1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [5]:
np.split(a1,5)

[array([0, 1, 2, 3]),
 array([4, 5, 6, 7]),
 array([ 8,  9, 10, 11]),
 array([12, 13, 14, 15]),
 array([16, 17, 18, 19])]

In [6]:
np.split(a1,2)

[array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])]

In [8]:
np.split(a1,[2,5,7])  # pahle 2 element ka fir 3 element ka fir 2 element ka fir jo bach jayega uska array bana dega

[array([0, 1]),
 array([2, 3, 4]),
 array([5, 6]),
 array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])]

In [10]:
np.array_split(a1,6)

[array([0, 1, 2, 3]),
 array([4, 5, 6, 7]),
 array([ 8,  9, 10]),
 array([11, 12, 13]),
 array([14, 15, 16]),
 array([17, 18, 19])]

In [11]:
a2=np.array([[2,3,4,5],[5,6,7,8],[1,5,4,8],[9,2,5,8]])

In [12]:
a2

array([[2, 3, 4, 5],
       [5, 6, 7, 8],
       [1, 5, 4, 8],
       [9, 2, 5, 8]])

In [14]:
np.hsplit(a2,2)  # column wise 2 part me horizontal split kar dega

[array([[2, 3],
        [5, 6],
        [1, 5],
        [9, 2]]),
 array([[4, 5],
        [7, 8],
        [4, 8],
        [5, 8]])]

In [16]:
np.vsplit(a2,2)    # row wise vertically 2 part me divide kar dega

[array([[2, 3, 4, 5],
        [5, 6, 7, 8]]),
 array([[1, 5, 4, 8],
        [9, 2, 5, 8]])]

In [18]:
np.hsplit(a2,np.array([2,3]))  # pahle 2 column ko horizontaly print kar diya and 2+1=3 matlab 3rd column and 4th column ko

[array([[2, 3],
        [5, 6],
        [1, 5],
        [9, 2]]),
 array([[4],
        [7],
        [4],
        [5]]),
 array([[5],
        [8],
        [8],
        [8]])]

In [2]:
import numpy as np

In [3]:
a1=np.array([[12,34,56],[67,54,12]])

In [4]:
a1

array([[12, 34, 56],
       [67, 54, 12]])

In [5]:
#argmax()
np.argmax(a1)

3

In [17]:
np.argmax(a1,axis=0)   # verticaly dekhega har ek column ko dekhega ki sabse bada element kis row me hai us row ka index index me hai

array([1, 1, 0], dtype=int64)

In [18]:
np.argmax(a1,axis=1)   # har horizontal row ko dekhega ki sabse bada  element kon se column index number me hai

array([2, 0], dtype=int64)

In [10]:
a1

array([[12, 34, 56],
       [67, 54, 12]])

In [23]:
np.argmin(a1,axis=0) # verticaly check hoga aur requirment ke anusar us row ka index likh dega

array([0, 0, 1], dtype=int64)

In [24]:
np.argmin(a1,axis=1) # horizontaly check hoga aur requirement ke sath us column ka index print hoga

array([0, 2], dtype=int64)

In [19]:
a2=np.array([1,9,3,8,5,2,7,6,4])

In [22]:
np.argsort(a2) # minimum number ko uske index me covert karke batayega

array([0, 5, 2, 8, 4, 7, 6, 3, 1], dtype=int64)

PANDAS READING

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('covid_dataset.csv')

In [3]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

 read pandas excel file
 
 data=pd.read_excel('iris.xlsx')

In [7]:
pd.set_option("display.max_rows",None,"display.max_columns",None)

In [8]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe
10,Azerbaijan,30446,423,23242,6781,396,6,558,1.39,76.34,1.82,27890,2556,9.16,Europe
11,Bahamas,382,11,91,280,40,0,0,2.88,23.82,12.09,174,208,119.54,Americas
12,Bahrain,39482,141,36110,3231,351,1,421,0.36,91.46,0.39,36936,2546,6.89,Eastern Mediterranean
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
14,Barbados,110,7,94,9,0,0,0,6.36,85.45,7.45,106,4,3.77,Americas
15,Belarus,67251,538,60492,6221,119,4,67,0.80,89.95,0.89,66213,1038,1.57,Europe
16,Belgium,66428,9822,17452,39154,402,1,14,14.79,26.27,56.28,64094,2334,3.64,Europe
17,Belize,48,2,26,20,0,0,0,4.17,54.17,7.69,40,8,20.00,Americas
18,Benin,1770,35,1036,699,0,0,0,1.98,58.53,3.38,1602,168,10.49,Africa
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
20,Bolivia,71181,2647,21478,47056,1752,64,309,3.72,30.17,12.32,60991,10190,16.71,Americas
21,Bosnia and Herzegovina,10498,294,4930,5274,731,14,375,2.80,46.96,5.96,8479,2019,23.81,Europe
22,Botswana,739,2,63,674,53,1,11,0.27,8.53,3.17,522,217,41.57,Africa
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
24,Brunei,141,3,138,0,0,0,0,2.13,97.87,2.17,141,0,0.00,Western Pacific
25,Bulgaria,10621,347,5585,4689,194,7,230,3.27,52.58,6.21,8929,1692,18.95,Europe
26,Burkina Faso,1100,53,926,121,14,0,6,4.82,84.18,5.72,1065,35,3.29,Africa
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
28,Burundi,378,1,301,76,17,0,22,0.26,79.63,0.33,322,56,17.39,Africa
29,Cabo Verde,2328,22,1550,756,21,0,103,0.95,66.58,1.42,2071,257,12.41,Africa
30,Cambodia,226,0,147,79,1,0,4,0.00,65.04,0.00,171,55,32.16,Western Pacific
31,Cameroon,17110,391,14539,2180,402,6,0,2.29,84.97,2.69,16157,953,5.90,Africa
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.00,inf,112925,3533,3.13,Americas
33,Central African Republic,4599,59,1546,2994,0,0,0,1.28,33.62,3.82,4548,51,1.12,Africa
34,Chad,922,75,810,37,7,0,0,8.13,87.85,9.26,889,33,3.71,Africa
35,Chile,347923,9187,319954,18782,2133,75,1859,2.64,91.96,2.87,333029,14894,4.47,Americas
36,China,86783,4656,78869,3258,213,4,7,5.37,90.88,5.90,85622,1161,1.36,Western Pacific
37,Colombia,257101,8777,131161,117163,16306,508,11494,3.41,51.02,6.69,204005,53096,26.03,Americas
38,Comoros,354,7,328,19,0,0,0,1.98,92.66,2.13,334,20,5.99,Africa
39,Congo (Brazzaville),3200,54,829,2317,162,3,73,1.69,25.91,6.51,2851,349,12.24,Africa
40,Congo (Kinshasa),8844,208,5700,2936,13,4,190,2.35,64.45,3.65,8443,401,4.75,Africa
41,Costa Rica,15841,115,3824,11902,612,11,88,0.73,24.14,3.01,11534,4307,37.34,Americas
42,Cote d'Ivoire,15655,96,10361,5198,59,0,183,0.61,66.18,0.93,14312,1343,9.38,Africa
43,Croatia,4881,139,3936,806,24,3,70,2.85,80.64,3.53,4370,511,11.69,Europe
44,Cuba,2532,87,2351,94,37,0,2,3.44,92.85,3.70,2446,86,3.52,Americas
45,Cyprus,1060,19,852,189,3,0,0,1.79,80.38,2.23,1038,22,2.12,Europe
46,Czechia,15516,373,11428,3715,192,2,0,2.40,73.65,3.26,14098,1418,10.06,Europe
47,Denmark,13761,613,12605,543,109,0,77,4.45,91.60,4.86,13453,308,2.29,Europe
48,Djibouti,5059,58,4977,24,9,0,11,1.15,98.38,1.17,5020,39,0.78,Eastern Mediterranean
49,Dominica,18,0,18,0,0,0,0,0.00,100.00,0.00,18,0,0.00,Americas
50,Dominican Republic,64156,1083,30204,32869,1248,20,1601,1.69,47.08,3.59,53956,10200,18.90,Americas
51,Ecuador,81161,5532,34896,40733,467,17,0,6.82,43.00,15.85,74620,6541,8.77,Americas
52,Egypt,92482,4652,34838,52992,420,46,1007,5.03,37.67,13.35,88402,4080,4.62,Eastern Mediterranean
53,El Salvador,15035,408,7778,6849,405,8,130,2.71,51.73,5.25,12207,2828,23.17,Americas
54,Equatorial Guinea,3071,51,842,2178,0,0,0,1.66,27.42,6.06,3071,0,0.00,Africa
55,Eritrea,265,0,191,74,2,0,2,0.00,72.08,0.00,251,14,5.58,Africa
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
57,Eswatini,2316,34,1025,1257,109,2,39,1.47,44.26,3.32,1826,490,26.83,Africa
58,Ethiopia,14547,228,6386,7933,579,5,170,1.57,43.90,3.57,10207,4340,42.52,Africa
59,Fiji,27,0,18,9,0,0,0,0.00,66.67,0.00,27,0,0.00,Western Pacific
60,Finland,7398,329,6920,149,5,0,0,4.45,93.54,4.75,7340,58,0.79,Europe
61,France,220352,30212,81212,108928,2551,17,267,13.71,36.86,37.20,214023,6329,2.96,Europe
62,Gabon,7189,49,4682,2458,205,0,219,0.68,65.13,1.05,6433,756,11.75,Africa
63,Gambia,326,8,66,252,49,2,6,2.45,20.25,12.12,112,214,191.07,Africa
64,Georgia,1137,16,922,199,6,0,2,1.41,81.09,1.74,1039,98,9.43,Europe
65,Germany,207112,9125,190314,7673,445,1,259,4.41,91.89,4.79,203325,3787,1.86,Europe
66,Ghana,33624,168,29801,3655,655,0,307,0.50,88.63,0.56,28430,5194,18.27,Africa
67,Greece,4227,202,1374,2651,34,0,0,4.78,32.51,14.70,4012,215,5.36,Europe
68,Greenland,14,0,13,1,1,0,0,0.00,92.86,0.00,13,1,7.69,Europe
69,Grenada,23,0,23,0,0,0,0,0.00,100.00,0.00,23,0,0.00,Americas
70,Guatemala,45309,1761,32455,11093,256,27,843,3.89,71.63,5.43,39039,6270,16.06,Americas
71,Guinea,7055,45,6257,753,47,2,105,0.64,88.69,0.72,6590,465,7.06,Africa
72,Guinea-Bissau,1954,26,803,1125,0,0,0,1.33,41.10,3.24,1949,5,0.26,Africa
73,Guyana,389,20,181,188,19,0,0,5.14,46.53,11.05,337,52,15.43,Americas
74,Haiti,7340,158,4365,2817,25,1,0,2.15,59.47,3.62,7053,287,4.07,Americas
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
76,Honduras,39741,1166,5039,33536,465,50,117,2.93,12.68,23.14,34611,5130,14.82,Americas
77,Hungary,4448,596,3329,523,13,0,0,13.40,74.84,17.90,4339,109,2.51,Europe
78,Iceland,1854,10,1823,21,7,0,0,0.54,98.33,0.55,1839,15,0.82,Europe
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia
81,Iran,293606,15912,255144,22550,2434,212,1931,5.42,86.90,6.24,276202,17404,6.30,Eastern Mediterranean
82,Iraq,112585,4458,77144,30983,2553,96,1927,3.96,68.52,5.78,94693,17892,18.89,Eastern Mediterranean
83,Ireland,25892,1764,23364,764,11,0,0,6.81,90.24,7.55,25766,126,0.49,Europe
84,Israel,63985,474,27133,36378,2029,4,108,0.74,42.41,1.75,52003,11982,23.04,Europe
85,Italy,246286,35112,198593,12581,168,5,147,14.26,80.64,17.68,244624,1662,0.68,Europe
86,Jamaica,853,10,714,129,11,0,0,1.17,83.70,1.40,809,44,5.44,Americas
87,Japan,31142,998,21970,8174,594,0,364,3.20,70.55,4.54,25706,5436,21.15,Western Pacific
88,Jordan,1176,11,1041,124,8,0,0,0.94,88.52,1.06,1223,-47,-3.84,Eastern Mediterranean
89,Kazakhstan,84648,585,54404,29659,1526,0,1833,0.69,64.27,1.08,73468,11180,15.22,Europe
90,Kenya,17975,285,7833,9857,372,5,90,1.59,43.58,3.64,13771,4204,30.53,Africa
91,Kosovo,7413,185,4027,3201,496,16,274,2.50,54.32,4.59,5877,1536,26.14,Europe
92,Kuwait,64379,438,55057,8884,606,5,684,0.68,85.52,0.80,59763,4616,7.72,Eastern Mediterranean
93,Kyrgyzstan,33296,1301,21205,10790,483,24,817,3.91,63.69,6.14,27143,6153,22.67,Europe
94,Laos,20,0,19,1,0,0,0,0.00,95.00,0.00,19,1,5.26,Western Pacific
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
96,Lebanon,3882,51,1709,2122,132,0,17,1.31,44.02,2.98,2905,977,33.63,Eastern Mediterranean
97,Lesotho,505,12,128,365,0,0,0,2.38,25.35,9.38,359,146,40.67,Africa
98,Liberia,1167,72,646,449,5,0,5,6.17,55.36,11.15,1107,60,5.42,Africa
99,Libya,2827,64,577,2186,158,4,24,2.26,20.41,11.09,1980,847,42.78,Eastern Mediterranean
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
101,Lithuania,2019,80,1620,319,11,0,4,3.96,80.24,4.94,1947,72,3.70,Europe
102,Luxembourg,6321,112,4825,1384,49,0,178,1.77,76.33,2.32,5639,682,12.09,Europe
103,Madagascar,9690,91,6260,3339,395,6,681,0.94,64.60,1.45,7153,2537,35.47,Africa
104,Malawi,3664,99,1645,1920,24,0,6,2.70,44.90,6.02,2992,672,22.46,Africa
105,Malaysia,8904,124,8601,179,7,0,1,1.39,96.60,1.44,8800,104,1.18,Western Pacific
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia
107,Mali,2513,124,1913,476,3,1,2,4.93,76.12,6.48,2475,38,1.54,Africa
108,Malta,701,9,665,27,1,0,0,1.28,94.86,1.35,677,24,3.55,Europe
109,Mauritania,6208,156,4653,1399,37,0,223,2.51,74.95,3.35,5923,285,4.81,Africa
110,Mauritius,344,10,332,2,0,0,0,2.91,96.51,3.01,343,1,0.29,Africa
111,Mexico,395489,44022,303810,47657,4973,342,8588,11.13,76.82,14.49,349396,46093,13.19,Americas
112,Moldova,23154,748,16154,6252,120,13,245,3.23,69.77,4.63,21115,2039,9.66,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
114,Mongolia,289,0,222,67,1,0,4,0.00,76.82,0.00,287,2,0.70,Western Pacific
115,Montenegro,2893,45,809,2039,94,2,70,1.56,27.96,5.56,2188,705,32.22,Europe
116,Morocco,20887,316,16553,4018,609,3,115,1.51,79.25,1.91,17562,3325,18.93,Eastern Mediterranean
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.00,inf,1507,194,12.87,Africa
118,Namibia,1843,8,101,1734,68,0,26,0.43,5.48,7.92,1344,499,37.13,Africa
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia
120,Netherlands,53413,6160,189,47064,419,1,0,11.53,0.35,3259.26,52132,1281,2.46,Europe
121,New Zealand,1557,22,1514,21,1,0,1,1.41,97.24,1.45,1555,2,0.13,Western Pacific
122,Nicaragua,3439,108,2492,839,0,0,0,3.14,72.46,4.33,3147,292,9.28,Americas
123,Niger,1132,69,1027,36,0,0,0,6.10,90.72,6.72,1105,27,2.44,Africa
124,Nigeria,41180,860,18203,22117,648,2,829,2.09,44.20,4.72,37225,3955,10.62,Africa
125,North Macedonia,10213,466,5564,4183,127,6,137,4.56,54.48,8.38,9249,964,10.42,Europe
126,Norway,9132,255,8752,125,15,0,0,2.79,95.84,2.91,9034,98,1.08,Europe
127,Oman,77058,393,57028,19637,1053,9,1729,0.51,74.01,0.69,68400,8658,12.66,Eastern Mediterranean
128,Pakistan,274289,5842,241026,27421,1176,20,3592,2.13,87.87,2.42,266096,8193,3.08,Eastern Mediterranean
129,Panama,61442,1322,35086,25034,1146,28,955,2.15,57.10,3.77,54426,7016,12.89,Americas
130,Papua New Guinea,62,0,11,51,0,0,0,0.00,17.74,0.00,19,43,226.32,Western Pacific
131,Paraguay,4548,43,2905,1600,104,2,111,0.95,63.87,1.48,3748,800,21.34,Americas
132,Peru,389717,18418,272547,98752,13756,575,4697,4.73,69.93,6.76,357681,32036,8.96,Americas
133,Philippines,82040,1945,26446,53649,1592,13,336,2.37,32.24,7.35,68898,13142,19.07,Western Pacific
134,Poland,43402,1676,32856,8870,337,5,103,3.86,75.70,5.10,40383,3019,7.48,Europe
135,Portugal,50299,1719,35375,13205,135,2,158,3.42,70.33,4.86,48771,1528,3.13,Europe
136,Qatar,109597,165,106328,3104,292,0,304,0.15,97.02,0.16,107037,2560,2.39,Eastern Mediterranean
137,Romania,45902,2206,25794,17902,1104,19,151,4.81,56.19,8.55,38139,7763,20.35,Europe
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
139,Rwanda,1879,5,975,899,58,0,57,0.27,51.89,0.51,1629,250,15.35,Africa
140,Saint Kitts and Nevis,17,0,15,2,0,0,0,0.00,88.24,0.00,17,0,0.00,Americas
141,Saint Lucia,24,0,22,2,0,0,0,0.00,91.67,0.00,23,1,4.35,Americas
142,Saint Vincent and the Grenadines,52,0,39,13,0,0,0,0.00,75.00,0.00,50,2,4.00,Americas
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
144,Sao Tome and Principe,865,14,734,117,2,0,38,1.62,84.86,1.91,746,119,15.95,Africa
145,Saudi Arabia,268934,2760,222936,43238,1993,27,2613,1.03,82.90,1.24,253349,15585,6.15,Eastern Mediterranean
146,Senegal,9764,194,6477,3093,83,3,68,1.99,66.34,3.00,8948,816,9.12,Africa
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.00,inf,21253,2888,13.59,Europe
148,Seychelles,114,0,39,75,0,0,0,0.00,34.21,0.00,108,6,5.56,Africa
149,Sierra Leone,1783,66,1317,400,0,0,4,3.70,73.86,5.01,1711,72,4.21,Africa
150,Singapore,50838,27,45692,5119,469,0,171,0.05,89.88,0.06,48035,2803,5.84,Western Pacific
151,Slovakia,2181,28,1616,537,2,0,39,1.28,74.09,1.73,1980,201,10.15,Europe
152,Slovenia,2087,116,1733,238,5,0,55,5.56,83.04,6.69,1953,134,6.86,Europe
153,Somalia,3196,93,1543,1560,18,0,22,2.91,48.28,6.03,3130,66,2.11,Eastern Mediterranean
154,South Africa,452529,7067,274925,170537,7096,298,9848,1.56,60.75,2.57,373628,78901,21.12,Africa
155,South Korea,14203,300,13007,896,28,1,102,2.11,91.58,2.31,13816,387,2.80,Western Pacific
156,South Sudan,2305,46,1175,1084,43,1,0,2.00,50.98,3.91,2211,94,4.25,Africa
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
159,Sudan,11424,720,5939,4765,39,3,49,6.30,51.99,12.12,10992,432,3.93,Eastern Mediterranean
160,Suriname,1483,24,925,534,44,1,35,1.62,62.37,2.59,1079,404,37.44,Americas
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe
162,Switzerland,34477,1978,30900,1599,65,1,200,5.74,89.62,6.40,33634,843,2.51,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
164,Taiwan*,462,7,440,15,4,0,0,1.52,95.24,1.59,451,11,2.44,Western Pacific
165,Tajikistan,7235,60,6028,1147,43,1,58,0.83,83.32,1.00,6921,314,4.54,Europe
166,Tanzania,509,21,183,305,0,0,0,4.13,35.95,11.48,509,0,0.00,Africa
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia
169,Togo,874,18,607,249,6,0,8,2.06,69.45,2.97,783,91,11.62,Africa
170,Trinidad and Tobago,148,8,128,12,1,0,0,5.41,86.49,6.25,137,11,8.03,Americas
171,Tunisia,1455,50,1157,248,3,0,15,3.44,79.52,4.32,1381,74,5.36,Eastern Mediterranean
172,Turkey,227019,5630,210469,10920,919,17,982,2.48,92.71,2.67,220572,6447,2.92,Europe
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
174,Uganda,1128,2,986,140,13,0,4,0.18,87.41,0.20,1069,59,5.52,Africa
175,Ukraine,67096,1636,37202,28258,835,11,317,2.44,55.45,4.40,60767,6329,10.42,Europe
176,United Arab Emirates,59177,345,52510,6322,264,1,328,0.58,88.73,0.66,57193,1984,3.47,Eastern Mediterranean
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.26,296944,4764,1.60,Europe
178,Uruguay,1202,35,951,216,10,1,3,2.91,79.12,3.68,1064,138,12.97,Americas
179,Uzbekistan,21209,121,11674,9414,678,5,569,0.57,55.04,1.04,17149,4060,23.67,Europe
180,Venezuela,15988,146,9959,5883,525,4,213,0.91,62.29,1.47,12334,3654,29.63,Americas
181,Vietnam,431,0,365,66,11,0,0,0.00,84.69,0.00,384,47,12.24,Western Pacific
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [9]:
data.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [10]:
dict={"roll":[1,2,3,4,5,6,7,8,9],"marks":[23,25,27,29,24,26,30,28,24]}

In [11]:
df=pd.DataFrame(dict)

In [12]:
df

   roll  marks
0     1     23
1     2     25
2     3     27
3     4     29
4     5     24
5     6     26
6     7     30
7     8     28
8     9     24

In [21]:
df.to_csv('student.csv')  # create csv file

In [22]:
df.to_excel('student.xlsx',sheet_name="student_data")  # create exel file

In [25]:
country=pd.read_html('https://en.wikipedia.org/wiki/List_of_sovereign_states')  # internet connection required

In [26]:
country

[                               Common and formal names  \
 0                                                  NaN
 1    UN member states and General Assembly observer...
 2                      Abkhazia  See Abkhazia listing
 3                                          Afghanistan
 4                        Albania Republic of Albania
 5    Algeria People's Democratic Republic of Algeria
 6                    Andorra Principality of Andorra
 7                          Angola Republic of Angola
 8                                  Antigua and Barbuda
 9                    Argentina Argentine Republic[h]
 10                       Armenia Republic of Armenia
 11                       Artsakh  See Artsakh listing
 12               Australia Commonwealth of Australia
 13                       Austria Republic of Austria
 14                 Azerbaijan Republic of Azerbaijan
 15      Bahamas, The Commonwealth of The Bahamas[15]
 16                        Bahrain Kingdom of Bahrain
 17        Bangladesh People's Republic of Bangladesh
 18                                            Barbados
 19                       Belarus Republic of Belarus
 20                        Belgium Kingdom of Belgium
 21                                              Belize
 22                           Benin Republic of Benin
 23                          Bhutan Kingdom of Bhutan
 24            Bolivia Plurinational State of Bolivia
 25                              Bosnia and Herzegovina
 26                     Botswana Republic of Botswana
 27              Brazil Federative Republic of Brazil
 28                          Brunei Brunei Darussalam
 29                     Bulgaria Republic of Bulgaria
 30                                        Burkina Faso
 31                         Burma  See Myanmar listing
 32                       Burundi Republic of Burundi
 33                      Cambodia Kingdom of Cambodia
 34                     Cameroon Republic of Cameroon
 35                                           Canada[j]
 36              Cape Verde Republic of Cabo Verde[k]
 37                            Central African Republic
 38                             Chad Republic of Chad
 39                           Chile Republic of Chile
 40               China People's Republic of China[m]
 41             China, Republic of  See Taiwan listing
 42                     Colombia Republic of Colombia
 43                      Comoros Union of the Comoros
 44                Congo, Democratic Republic of the[q]
 45                           Congo, Republic of the[r]
 46             Cook Islands  See Cook Islands listing
 47                 Costa Rica Republic of Costa Rica
 48             Cte d'Ivoire  See Ivory Coast listing
 49                       Croatia Republic of Croatia
 50                             Cuba Republic of Cuba
 51                         Cyprus Republic of Cyprus
 52                                   Czech Republic[s]
 53   Democratic People's Republic of Korea  See Ko...
 54   Democratic Republic of the Congo  See Congo, ...
 55                        Denmark Kingdom of Denmark
 56                     Djibouti Republic of Djibouti
 57                 Dominica Commonwealth of Dominica
 58                                  Dominican Republic
 59   Donetsk People's Republic  See Donetsk People...
 60   East Timor Democratic Republic of Timor-Lest...
 61                       Ecuador Republic of Ecuador
 62                      Egypt Arab Republic of Egypt
 63               El Salvador Republic of El Salvador
 64   Equatorial Guinea Republic of Equatorial Guinea
 65                          Eritrea State of Eritrea
 66                       Estonia Republic of Estonia
 67                   Eswatini Kingdom of Eswatini[v]
 68   Ethiopia Federal Democratic Republic of Ethi...
 69                             Fiji Republic of Fiji
 70                       Finland Republic of Finland
 71                            France French Republic
 72                           Gabon Gabonese Republic
 73            Gambia, The Republic of The Gambia[25]
 74                                             Georgia
 75               Germany Federal Republic of Germany
 76                           Ghana Republic of Ghana
 77                          Greece Hellenic Republic
 78                                             Grenada
 79                   Guatemala Republic of Guatemala
 80                      Guinea Republic of Guinea[y]
 81           Guinea-Bissau Republic of Guinea-Bissau
 82            Guyana Co-operative Republic of Guyana
 83                           Haiti Republic of Haiti
 84               Holland  See the Netherlands listing
 85                 Holy See  See Vatican City listing
 86                     Honduras Republic of Honduras
 87                                             Hungary
 88                    Iceland[z]  Republic of Iceland
 89                           India Republic of India
 90                   Indonesia Republic of Indonesia
 91                     Iran Islamic Republic of Iran
 92                             Iraq Republic of Iraq
 93                                         Ireland[aa]
 94                            Israel State of Israel
 95                            Italy Italian Republic
 96         Ivory Coast Republic of Cte d'Ivoire[ab]
 97                                             Jamaica
 98                                               Japan
 99                Jordan Hashemite Kingdom of Jordan
 100                Kazakhstan Republic of Kazakhstan
 101                          Kenya Republic of Kenya
 102                    Kiribati Republic of Kiribati
 103  Korea, North Democratic People's Republic of...
 104                   Korea, South Republic of Korea
 105                        Kosovo  See Kosovo listing
 106                           Kuwait State of Kuwait
 107                       Kyrgyzstan Kyrgyz Republic
 108            Laos Lao People's Democratic Republic
 109                        Latvia Republic of Latvia
 110                        Lebanon Lebanese Republic
 111                       Lesotho Kingdom of Lesotho
 112                      Liberia Republic of Liberia
 113                             Libya State of Libya
 114      Liechtenstein Principality of Liechtenstein
 115                  Lithuania Republic of Lithuania
 116  Luhansk People's Republic  See Luhansk People...
 117             Luxembourg Grand Duchy of Luxembourg
 118            Macedonia  See North Macedonia listing
 119                Madagascar Republic of Madagascar
 120                        Malawi Republic of Malawi
 121                                           Malaysia
 122                    Maldives Republic of Maldives
 123                            Mali Republic of Mali
 124                          Malta Republic of Malta
 125  Marshall Islands Republic of the Marshall Is...
 126        Mauritania Islamic Republic of Mauritania
 127                  Mauritius Republic of Mauritius
 128                     Mexico United Mexican States
 129                    Micronesia, Federated States of
 130                      Moldova Republic of Moldova
 131                    Monaco Principality of Monaco
 132                                           Mongolia
 133                                         Montenegro
 134                       Morocco Kingdom of Morocco
 135                Mozambique Republic of Mozambique
 136     Myanmar Republic of the Union of Myanmar[ac]
 137             Nagorno-Karabakh  See Artsakh listing
 138                      Namibia Republic of Namibia
 139                          Nauru Republic of Nauru
 140       Nepal Federal Democratic Republic of Nepal
 141           Netherlands Kingdom of the Netherlands
 142                                        New Zealand
 143                  Nicaragua Republic of Nicaragua
 144                      Niger Republic of the Niger
 145              Nigeria Federal Republic of Nigeria
 146                            Niue  See Niue listing
 147             North Korea  See Korea, North listing
 148  North Macedonia Republic of North Macedonia[ae]
 149      Northern Cyprus  See Northern Cyprus listing
 150                         Norway Kingdom of Norway
 151                           Oman Sultanate of Oman
 152            Pakistan Islamic Republic of Pakistan
 153                          Palau Republic of Palau
 154                     Palestine State of Palestine
 155                        Panama Republic of Panama
 156  Papua New Guinea Independent State of Papua ...
 157                    Paraguay Republic of Paraguay
 158                            Peru Republic of Peru
 159          Philippines Republic of the Philippines
 160                        Poland Republic of Poland
 161                     Portugal Portuguese Republic
 162           Pridnestrovie  See Transnistria listing
 163                             Qatar State of Qatar
 164       Republic of Korea  See Korea, South listing
 165  Republic of the Congo  See Congo, Republic of...
 166                                            Romania
 167                        Russia Russian Federation
 168                        Rwanda Republic of Rwanda
 169  Sahrawi Arab Democratic Republic  See Sahrawi...
 170  Saint Kitts and Nevis Federation of Saint Ch...
 171                                        Saint Lucia
 172                   Saint Vincent and the Grenadines
 173                 Samoa Independent State of Samoa
 174                San Marino Republic of San Marino
 175  So Tom and Prncipe Democratic Republic of...
 176             Saudi Arabia Kingdom of Saudi Arabia
 177                      Senegal Republic of Senegal
 178                        Serbia Republic of Serbia
 179                Seychelles Republic of Seychelles
 180            Sierra Leone Republic of Sierra Leone
 181                  Singapore Republic of Singapore
 182                         Slovakia Slovak Republic
 183                    Slovenia Republic of Slovenia
 184                                    Solomon Islands
 185              Somalia Federal Republic of Somalia
 186                Somaliland  See Somaliland listing
 187            South Africa Republic of South Africa
 188             South Korea  See Korea, South listing
 189          South Ossetia  See South Ossetia listing
 190              South Sudan Republic of South Sudan
 191                           Spain Kingdom of Spain
 192  Sri Lanka Democratic Socialist Republic of S...
 193                      Sudan Republic of the Sudan
 194             Sudan, South  See South Sudan listing
 195                    Suriname Republic of Suriname
 196                   Swaziland  See Eswatini listing
 197                         Sweden Kingdom of Sweden
 198                  Switzerland Swiss Confederation
 199                       Syria Syrian Arab Republic
 200    Taiwan (Republic of China)  See Taiwan listing
 201                Tajikistan Republic of Tajikistan
 202             Tanzania United Republic of Tanzania
 203                     Thailand Kingdom of Thailand
 204             The Bahamas  See Bahamas, The listing
 205               The Gambia  See Gambia, The listing
 206               Timor-Leste  See East Timor listing
 207                           Togo Togolese Republic
 208                           Tonga Kingdom of Tonga
 209            Transnistria  See Transnistria listing
 210  Trinidad and Tobago Republic of Trinidad and...
 211                      Tunisia Republic of Tunisia
 212                       Turkey Republic of Trkiye
 213            Turkmenistan Republic of Turkmenistan
 214                                             Tuvalu
 215                        Uganda Republic of Uganda
 216                                            Ukraine
 217                               United Arab Emirates
 218  United Kingdom United Kingdom of Great Brita...
 219           United States United States of America
 220             Uruguay Oriental Republic of Uruguay
 221                Uzbekistan Republic of Uzbekistan
 222                      Vanuatu Republic of Vanuatu
 223                  Vatican City Vatican City State
 224       Venezuela Bolivarian Republic of Venezuela
 225            Vietnam Socialist Republic of Vietnam
 226  Western Sahara  See Sahrawi Arab Democratic R...
 227                          Yemen Republic of Yemen
 228                        Zambia Republic of Zambia
 229                    Zimbabwe Republic of Zimbabwe
 230  UN member states and General Assembly observer...
 231                                                NaN
 232                                                NaN
 233                    Abkhazia Republic of Abkhazia
 234                  Artsakh Republic of Artsakh[ah]
 235                                       Cook Islands
 236                          Donetsk People's Republic
 237                        Kosovo Republic of Kosovo
 238                          Luhansk People's Republic
 239                                               Niue
 240  Northern Cyprus Turkish Republic of Northern...
 241                   Sahrawi Arab Democratic Republic
 242                Somaliland Republic of Somaliland
 243  South Ossetia Republic of South Ossetiathe ...
 244                      Taiwan Republic of China[m]
 245   Transnistria Pridnestrovian Moldavian Republic
 246                                                NaN
 247                                                NaN

                     Membership within the UN System[b]  \
 0                                                  NaN
 1                                                  NaN
 2                      Abkhazia  See Abkhazia listing
 3                                      UN member state
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                                                  NaN
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                       Artsakh  See Artsakh listing
 12                                                 NaN
 13                                                 NaN
 14                                                 NaN
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                                 NaN
 19                                                 NaN
 20                                                 NaN
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 30                                                 NaN
 31                         Burma  See Myanmar listing
 32                                                 NaN
 33                                                 NaN
 34                                                 NaN
 35                                                 NaN
 36                                                 NaN
 37                                                 NaN
 38                                                 NaN
 39                                                 NaN
 40                                                 NaN
 41             China, Republic of  See Taiwan listing
 42                                                 NaN
 43                                                 NaN
 44                                                 NaN
 45                                                 NaN
 46             Cook Islands  See Cook Islands listing
 47                                                 NaN
 48             Cte d'Ivoire  See Ivory Coast listing
 49                                                 NaN
 50                                                 NaN
 51                                                 NaN
 52                                                 NaN
 53   Democratic People's Republic of Korea  See Ko...
 54   Democratic Republic of the Congo  See Congo, ...
 55                                                 NaN
 56                                                 NaN
 57                                                 NaN
 58                                                 NaN
 59   Donetsk People's Republic  See Donetsk People...
 60                                                 NaN
 61                                                 NaN
 62                                                 NaN
 63                                                 NaN
 64                                                 NaN
 65                                                 NaN
 66                                                 NaN
 67                                                 NaN
 68                                                 NaN
 69                                                 NaN
 70                                                 NaN
 71                                                 NaN
 72                                                 NaN
 73                                                 NaN
 74                                                 NaN
 75                                                 NaN
 76                                                 NaN
 77                                                 NaN
 78                                                 NaN
 79                                                 NaN
 80                                                 NaN
 81                                                 NaN
 82                                                 NaN
 83                                                 NaN
 84               Holland  See the Netherlands listing
 85                 Holy See  See Vatican City listing
 86                                                 NaN
 87                                                 NaN
 88                                                 NaN
 89                                                 NaN
 90                                                 NaN
 91                                                 NaN
 92                                                 NaN
 93                                                 NaN
 94                                                 NaN
 95                                                 NaN
 96                                                 NaN
 97                                                 NaN
 98                                                 NaN
 99                                                 NaN
 100                                                NaN
 101                                                NaN
 102                                                NaN
 103                                                NaN
 104                                                NaN
 105                        Kosovo  See Kosovo listing
 106                                                NaN
 107                                                NaN
 108                                                NaN
 109                                                NaN
 110                                                NaN
 111                                                NaN
 112                                                NaN
 113                                                NaN

In [27]:
# pandas data structure:series
# series is one dimensional array with label which can hold data of any type such as integer,string,float,python object etc
# in series,we can set own index label like 'a','b','c'.....
# passed index is the list of axis label

In [31]:
list1=[53,63,63,39,92,20]
s1=pd.Series(list1)

In [32]:
s1

0    53
1    63
2    63
3    39
4    92
5    20
dtype: int64

In [33]:
s2=pd.Series(list1,index=['a','b','c','d','e','f'])

In [34]:
s2

a    53
b    63
c    63
d    39
e    92
f    20
dtype: int64

In [35]:
s2.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [36]:
dict1={'a':300,'b':450,'c':643,'d':432}

In [43]:
s3=pd.Series(dict1)

In [44]:
s3

a    300
b    450
c    643
d    432
dtype: int64

In [46]:
s4=pd.Series(dict1,index=['a','b','c','a','d','b'])

In [47]:
s4

a    300
b    450
c    643
a    300
d    432
b    450
dtype: int64

In [49]:
s5=pd.Series(100,index=['aa','bb','cc'])

In [50]:
s5

aa    100
bb    100
cc    100
dtype: int64

In [51]:
s4

a    300
b    450
c    643
a    300
d    432
b    450
dtype: int64

In [52]:
s4.to_numpy()

array([300, 450, 643, 300, 432, 450], dtype=int64)

In [53]:
arr=s4.to_numpy()

In [54]:
arr

array([300, 450, 643, 300, 432, 450], dtype=int64)

In [55]:
s4

a    300
b    450
c    643
a    300
d    432
b    450
dtype: int64

In [56]:
s4+s4

a     600
b     900
c    1286
a     600
d     864
b     900
dtype: int64

In [58]:
s7=s4*10

In [59]:
s7

a    3000
b    4500
c    6430
a    3000
d    4320
b    4500
dtype: int64

In [80]:
# numpy ke function me series ko pas kar sakte hai

In [81]:
import numpy as np

In [82]:
Arr1=np.exp(s4)

In [83]:
Arr1

a    1.942426e+130
b    2.707178e+195
c    1.783823e+279
a    1.942426e+130
d    4.123027e+187
b    2.707178e+195
dtype: float64

In [84]:
Arr2=np.sin(s4)

In [85]:
Arr2

a   -0.999756
b   -0.683284
c    0.855489
a   -0.999756
d   -0.999519
b   -0.683284
dtype: float64

In [86]:
Arr3=np.sqrt(s4)

In [87]:
Arr3

a    17.320508
b    21.213203
c    25.357445
a    17.320508
d    20.784610
b    21.213203
dtype: float64

In [88]:
Arr4=np.max(s4)

In [89]:
Arr4

643

In [90]:
Arr5=np.log(s4)

In [91]:
Arr5

a    5.703782
b    6.109248
c    6.466145
a    5.703782
d    6.068426
b    6.109248
dtype: float64

In [92]:
Arr6=np.mean(s4)

In [93]:
Arr6

429.1666666666667

In [94]:
Arr6=np.median(s4)

In [95]:
Arr6

441.0

In [96]:
Arr7=np.std(s4)

In [97]:
Arr7

115.44755904257522

In [98]:
Arr8=np.var(s4)

In [99]:
Arr8

13328.13888888889

In [2]:
import pandas as pd

In [3]:
List2=[653,74,837]
s6=pd.Series(List2,name="simplynumber")

In [4]:
s6

0    653
1     74
2    837
Name: simplynumber, dtype: int64

In [5]:
s8=s6.rename('simplyinteger')

In [6]:
s8

0    653
1     74
2    837
Name: simplyinteger, dtype: int64

In [8]:
s8[0]

653

In [9]:
s8[:]

0    653
1     74
2    837
Name: simplyinteger, dtype: int64

In [10]:
s8[s8>50]

0    653
1     74
2    837
Name: simplyinteger, dtype: int64

In [11]:
s8[s8>s8.mean()]

0    653
2    837
Name: simplyinteger, dtype: int64

In [12]:
s8

0    653
1     74
2    837
Name: simplyinteger, dtype: int64

In [15]:
s8[2]=100  #value change

In [16]:
s8

0    653
1     74
2    100
Name: simplyinteger, dtype: int64

In [23]:
List=[1,2,3,6,3,9]
s9=pd.Series(List,index=['a','b','c','d','e','f'])

In [24]:
s9

a    1
b    2
c    3
d    6
e    3
f    9
dtype: int64

In [25]:
s9['d']

6

In [28]:
df=pd.DataFrame(List)

In [29]:
df.to_csv('List.csv')

PANDAS DATA STRUCTURE:DataFrame

dataframe is a 2 dimensional labelled(row and column) datastructure like an array with possibility of different datatype columns.

it is a table in sql , spreadsheet etc

dataframe can be created using dictionary, two dimensional array of numpy, series and another dataframe

In [17]:
import numpy as np

In [18]:
import pandas as pd

In [19]:
dict1={'roll':[1,2,3,4,5,6,7],'marks':[32,54,43,60,56,46,65]}

In [20]:
df1=pd.DataFrame(dict1,index=[0,1,2,3,4,5,6])

In [21]:
df1

   roll  marks
0     1     32
1     2     54
2     3     43
3     4     60
4     5     56
5     6     46
6     7     65

In [22]:
df2=pd.DataFrame(dict1,index=['a','b','c','d','e','f','g'])

In [23]:
df2

   roll  marks
a     1     32
b     2     54
c     3     43
d     4     60
e     5     56
f     6     46
g     7     65

In [24]:
df3=pd.DataFrame(dict1,index=['a','b','c','d','e','f','g'],columns=['marks','roll'])

In [25]:
df3

   marks  roll
a     32     1
b     54     2
c     43     3
d     60     4
e     56     5
f     46     6
g     65     7

In [26]:
df1.index

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [27]:
df2.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [28]:
df1.columns

Index(['roll', 'marks'], dtype='object')

In [29]:
df2.columns

Index(['roll', 'marks'], dtype='object')

In [30]:
Head=[('Roll',"i4"),("marks","f4"),("name","S20")]
Value=[(1,90,'Rahul'),(2,89,'Rakesh'),(3,65,'Roushan')]
Data=np.array(Value,dtype=Head)
Data

array([(1, 90., b'Rahul'), (2, 89., b'Rakesh'), (3, 65., b'Roushan')],
      dtype=[('Roll', '<i4'), ('marks', '<f4'), ('name', 'S20')])

In [31]:
Marks_Data=pd.DataFrame(Data)

In [32]:
Marks_Data

   Roll  marks        name
0     1   90.0    b'Rahul'
1     2   89.0   b'Rakesh'
2     3   65.0  b'Roushan'

In [33]:
Student=[{"roll":1,"Name":"rakesh"},{"roll":2,"Name":"roshan"}]
Student_Data=pd.DataFrame(Student)

In [34]:
Student_Data

   roll    Name
0     1  rakesh
1     2  roshan

namedtuple()

In [35]:
from collections import namedtuple

In [36]:
import pandas as pd

In [37]:
Axis=namedtuple("Axis","a b")

In [38]:
Axis_data=pd.DataFrame([Axis(9,10),Axis(1,0),Axis(0,0)])

In [39]:
Axis_data

   a   b
0  9  10
1  1   0
2  0   0

In [40]:
Axis=namedtuple("Axis","a b c d")

In [41]:
Axis_data=pd.DataFrame([Axis(9,10,6,8),Axis(1,0,7,5),Axis(0,0,9,1)])

In [42]:
Axis_data

   a   b  c  d
0  9  10  6  8
1  1   0  7  5
2  0   0  9  1

In [43]:
Marks_Data

   Roll  marks        name
0     1   90.0    b'Rahul'
1     2   89.0   b'Rakesh'
2     3   65.0  b'Roushan'

from_records ka use karke roll,markes,names me se kisi ko bhi index bana sakte hai

In [44]:
data1=pd.DataFrame.from_records(Data,index='Roll')

In [45]:
data1

      marks        name
Roll
1      90.0    b'Rahul'
2      89.0   b'Rakesh'
3      65.0  b'Roushan'

In [47]:
Marks_Data

   Roll  marks        name
0     1   90.0    b'Rahul'
1     2   89.0   b'Rakesh'
2     3   65.0  b'Roushan'

new column ko add karna hai

In [48]:
Marks_Data['subjects']=[3,4,2]

In [49]:
Marks_Data

   Roll  marks        name  subjects
0     1   90.0    b'Rahul'         3
1     2   89.0   b'Rakesh'         4
2     3   65.0  b'Roushan'         2

In [51]:
Marks_Data["Total_Marks"]=Marks_Data['marks']*Marks_Data['subjects']

In [52]:
Marks_Data

   Roll  marks        name  subjects  Total_Marks
0     1   90.0    b'Rahul'         3        270.0
1     2   89.0   b'Rakesh'         4        356.0
2     3   65.0  b'Roushan'         2        130.0

In [61]:
Marks_Data['results']=Marks_Data['Total_Marks']>200

In [62]:
Marks_Data

   Roll  marks        name     city  subjects  Total_Marks  results
0     1   90.0    b'Rahul'    delhi         3        270.0     True
1     2   89.0   b'Rakesh'  kolkata         4        356.0     True
2     3   65.0  b'Roushan'   mumbai         2        130.0    False

hame third index me ek new columns insert karna hai

In [64]:
Marks_Data.insert(3,"City",["delhi","kolkata","mumbai"])

In [65]:
Marks_Data

   Roll  marks        name     City     city  subjects  Total_Marks  results
0     1   90.0    b'Rahul'    delhi    delhi         3        270.0     True
1     2   89.0   b'Rakesh'  kolkata  kolkata         4        356.0     True
2     3   65.0  b'Roushan'   mumbai   mumbai         2        130.0    False

transpose of data frame

rows ko column me convert karna hai and columns ko row me

In [66]:
Marks_Data.T

                    0          1           2
Roll                1          2           3
marks            90.0       89.0        65.0
name         b'Rahul'  b'Rakesh'  b'Roushan'
City            delhi    kolkata      mumbai
city            delhi    kolkata      mumbai
subjects            3          4           2
Total_Marks     270.0      356.0       130.0
results          True       True       False

In [67]:
Marks_Data

   Roll  marks        name     City     city  subjects  Total_Marks  results
0     1   90.0    b'Rahul'    delhi    delhi         3        270.0     True
1     2   89.0   b'Rakesh'  kolkata  kolkata         4        356.0     True
2     3   65.0  b'Roushan'   mumbai   mumbai         2        130.0    False

first row se lekar and second column se lekar last tak ka dataframe dekhna hai

In [69]:
Marks_Data.iloc[1:,2:]

         name     City     city  subjects  Total_Marks  results
1   b'Rakesh'  kolkata  kolkata         4        356.0     True
2  b'Roushan'   mumbai   mumbai         2        130.0    False

hame dataframe ka sabhi rows and column me 2 se 5 index tak ka column chahiye

In [70]:
Marks_Data.iloc[:,2:5]

         name     City     city
0    b'Rahul'    delhi    delhi
1   b'Rakesh'  kolkata  kolkata
2  b'Roushan'   mumbai   mumbai

merging joining and concatening